*{margin:0;padding:0}
body{font-family:arial;font-size:15px;line-height:22px;color:#666}
.fix{overflow:hidden;}
.main{width:960px;margin:0 auto;display:block;border:3px solid}
.parvez1{}
.sazzad1{position: relative;
left: 175px;
top: 35px}
.sazzad2{    position: relative;
    left: 545px;
    top: 15px;}
.sazzad2 a{text-decoration:none;text-decoration: none;
padding: 3px 5px;}

.sazzad3 {position: relative;
left: 727px;
top: -15px;
border: 1px solid;
width: 95px;
border-radius: 27%;
padding: 4px 4px;background-color:#0EBFDD;}
.sazzad3 h3{color:#E2F5FA;position: relative;
    left: 13px;}
.parvez2 {}
.parvez3{
    position: relative;
    left: 200px;position: relative;
left: 200px;
padding: 45px 16px;}
.sazzad4{position: relative;
left: 240;
top: -27px;}
.sazzad5{padding: 2px 3px;}
.parvez4{background-color:#0EBFDD;width:960px}
.sazzad6{position: relative;
    left: 450px;
    top: 60px;}
.sazzad7{position: relative;
left: 130px;
top: 200px}
.sazzad7 h4{position: relative;
left: 50px;}
.sazzad7 p{position: relative;
left: 35px;}
.sazzad8{position: relative;
    left: 355px;}
.sazzad8 h4{position: relative;left: 45px;}
.sazzad8 p{position: relative;left: 35px;}
.sazzad9{position:relative;left: 580px;
top: -200px;}
.sazzad9 h4{position: relative;
left: 50px;}
.sazzad9 p{position: relative;
    left: 55px;}
.sazzad10{position: relative;
    left: 380px;
    bottom: 51px;}
.parvez5{}
.footer{background-color:#45494D;
width: 960px;
height: 75px;border-bottom: 1px solid;}
.sazzad11{position: relative;
left: 125px;
top:30px;}    
.sazzad12{position: relative;
left: 200px;
top:8px;} 
.sazzad13{position: relative;
left: 253px;
top: -14px;} 
.sazzad14{position: relative;
left: 593px;
bottom: 45px;}
.sazzad14 img{width: 19px;
border: 1px solid;
border-radius: 100%;
padding: 6px 7px;}
.sazzad15{position: relative;
left:653px;
bottom:75px;top:-80px;} 
.sazzad15 img{width: 25px;
border: 1px solid;
border-radius: 100%;
padding: 7px 7px}
.sazzad16{position: relative;
left: 715px;
bottom: 119px;}
.sazzad16 img{width: 25px;
border: 1px solid;
border-radius: 100%;
padding: 5px 5px;}
.footer1{background-color:#45494D;
width: 960px;}
.sazzad17{position: relative;
left: 545px;
top: 25px}
.sazzad18{position: relative;
left: 650px;
top: 5px;}
.sazzad19{position: relative;
left: 805px;
top: -15px;}